*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}
/* ---------------es 1 ------------------- */
.ex-2-square {
    transition: 5s;
}
.ex-2-square:active{
    height: 800px;
    width: 800px;
    animation: ex2;
    animation-duration: 4s;
}
@keyframes ex2 {
    0%{
        width: 50px;
        height: 50px;

    }    
    50%{
        width: 100px;
        height: 100px;

    }
    100%{
        width: 100px;
        height: 100px;

    }
}
/* -----------------es 2 --------------------- */
  .ex-3-square:hover{
    width: 20px;
    height:20px;
    background-color: blueviolet;
    border-radius: 50%;
    animation: ex3;
    animation-duration: 4s;
}  

@keyframes ex3 {
    0%{
        width: 20px;
        height: 20px;

    }    
    30%{
        width: 50px;
        height: 50px;

    }
    60%{
        width: 70px;
        height: 70px;

    }
    90%{
        width: 80px;
        height: 80px;

    }  
    100%{
        width: 100px;
        height: 100px;

    }
}

/* -----------------------es 3---------------- */

.ex-4-square:hover{
    width: 400px;
    height: 400px;
    background-color: black;
    opacity: 1;
    animation: ex4;
    animation-duration: 4s;
}
@keyframes ex4 {
    0%{
       opacity: 0.8;
    }    
    20%{
     opacity: 0.6;
    }

    40%{
    opacity: 0.4;
    }    
    60%{
     opacity: 0.2;
    }
    80%{
       opacity: 0.1;

        }
    100%{
     opacity: 0;
    }
}


/* ---------------es 4 ----------------------------*/

.ex-5-square{
    width: 300px;
    height: 300px;
}

.ex-5-square:hover{
    width: 400px;
    height: 400px;
}

.ex-5-square:active{
    width: 200px;
    height: 200px;
}
/* --------------------es 6 --------------------------- */
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* -------------------ES 8--------------------------------- */

.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: grayscale(.6) sepia(.5);
    border-radius: 20px;
}
/* ----------------------------es 9 ------------------------- */

.ex-9-img{
    transition: 3s;
}
.ex-9-img:hover{
    border-radius: 30px;
    filter: blur(5px);
    filter: hue-rotate(90deg);
}
/* ----------------------------es 10 ------------------------- */
.ex-10-icon{
    animation-name: ruota;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes ruota {
    from { 
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* --------------------------es 11---------------------------- */

.ex-11-icon{
    animation-name: ruota;
    animation-duration: 1000ms;
    animation-timing-function: linear;
}

@keyframes ruota {
    0% { 
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(290deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
