*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* es 1 */
.ex-1-square:hover{
    background-color: red;
}
/* fine es 1 */
/* es 2 */
.ex-2-square:active{
    transition: 3s;
    width: 100%;
}
/* fine es 2 */
